<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Processing</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5DF5GL4LB5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5DF5GL4LB5');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nemb.css') }}">
</head>
<body>
    <div id="title">{{title}}</div>
    <div id="loader" class="loader"></div>
    <div id="content" class="content" style="display: none;">
        <div id="step1" class="step">
            <span class="tick" id="tick1">✓</span>
            <p>PDF processed successfully</p>
        </div>
        <div id="step2" class="step">
            <span class="tick" id="tick2">✓</span>
            <p>PDF embedded successfully</p>
        </div>
    </div>
    <script defer src="{{ url_for('static', filename='js/nembed.js') }}"></script>
</body>
</html>
