<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit YouTube Link</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/yt.submit.js') }}"></script>
</head>
<body>
    <DIV class="outer-container">

        <div class="container">
            <h1>Submit YouTube Link</h1>
        <div class="input-container">
            <input type="text" id="youtubeUrl" placeholder="Enter YouTube URL">
            <button onclick="submitYouTube()">Go</button>
        </div>
        <div class="input-container">
            <input type="text" id="contextContent" placeholder="Enter Context Content (optional)">
        <button onclick="transcribeYouTube()">Transcribe</button>
        </div>
        <div id="loader"></div>
        </div>
        <div class="response-container">
            <div id="response"></div>
        <div id="video-container"></div>
        </div>
</DIV>
</body>
</html>
